name: ML Pipeline Credit Card Default

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # =========================
    # Run preprocessing
    # =========================
    - name: Run preprocessing
      run: |
        python preprocessing/automate_gilangputrafirmansyah.py

    # =========================
    # Train model with MLflow (DagsHub)
    # =========================
    - name: Train model with MLflow (DagsHub)
      env:
        MLFLOW_TRACKING_URI: https://dagshub.com/Geversonvx/Eksperimen_SML_GilangPutraFirmansyah.mlflow
        MLFLOW_TRACKING_USERNAME: token
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        python Membangun_model/modelling_final.py
